@inherits BaseComponent<TeamEditor>

	<Form TItem=Team Item=Team OnSubmit=SaveEdits OnCancel=CancelEdits>
		<div class="tw-my-2">
			<InlineTextInput @bind-Value=Team.Name Label="Team Name" MinLength=1 MaxLength=32/>
			
			<div class="tw-flex tw-justify-between tw-my-2 tw-items-center">
				<Paragraph Size=TextSize.Base Text="Add user:"/>
				<div class="tw-flex-grow tw-grow">
					<RadzenDropDown TValue=User class="tw-mx-1 tw-grow"
									Name="User" 
									Context="user" 
									Data=ExcludedUsers
									TextProperty="Name"
									@bind-Value=selectedExcludedUser />
				</div>
				<RadzenButton Text="+" Disabled=@(selectedExcludedUser is null || Busy) Click=@(() => AddUser(selectedExcludedUser))/>
			</div>

			<RadzenDataList TItem=User Data=Users Context=user PageSize=30>
				<Template>
					<div class="tw-flex tw-justify-between">
						<Paragraph Size=TextSize.S Text=@(string.IsNullOrWhiteSpace(user.UserName) ? user.FullName : user.UserName)/>
						<div>
							<Paragraph Size=TextSize.S Text="Role"/>
							<RadzenDropDown TValue=TeammateRole class="tw-mr-2"
									Name="Role"
									Context="role"
									Data=Enum.GetValues(typeof(Teammates))
									TextProperty="Name"
									@bind-Value=Teammates[user].Role/>
							<RadzenButton Disabled=Busy Text="-" ButtonStyle=ButtonStyle.Danger Click=@(() => RemoveTeammate(user))/>
						</div>
					</div>
				</Template>
			</RadzenDataList>
			<!-- TODO: Add team create/delete buttons -->
		</div>
	</Form>

@code {
	[Parameter, Required]
	public DB DbContext { get; set; } = null!;
	[Parameter, Required]
	public Team Team { get; set; } = new();

	protected bool Busy { get; set; } = false;

	public IEnumerable<User>? ExcludedUsers { get; set; }
	public IEnumerable<User>? Users { get; set; }
	public Dictionary<User, Teammates> Teammates { get; set; } = new();

	protected DbEditor<Team> teamEditor = null!;
	protected DbEditor<Teammates> teammatesEditor = null!;
	protected User? selectedExcludedUser;

	protected override void OnInitialized() {
		Busy = true;
		base.OnInitialized();
		teamEditor = new(DbContext);
		teammatesEditor = new(DbContext);
		teamEditor.AddOrUpdate(Team);
		UpdateTeammates();
		UpdateExcludedUsers();
		Busy = false;
	}

	protected void UpdateExcludedUsers() {
		if(Users is not null) {
			ExcludedUsers = DbContext.Users.AsEnumerable().Except(Users);
		}
	}

	protected void UpdateTeammates() {
		Users = Team.GetMembers(DbContext).Where(x => x is not null)!;
		Teammates.Clear();
		foreach(User? user in Users) {
			if(user is not null) {
				Teammates.Add(user, DbContext.Teammates.First(x => x.UserId == user.Id && x.TeamId == Team.Id));
			}
		}
	}

	protected void SaveEdits() {
		Busy = true;
		teamEditor.ClearTrackers();
		teammatesEditor.ClearTrackers();
		Busy = false;
	}

	protected void CancelEdits() {
		Busy = true;
		if(teamEditor.HasPendingChanges || teammatesEditor.HasPendingChanges) {
			teamEditor.UndoChanges();
			teammatesEditor.UndoChanges();
			// Keep tracking changes for the selected team
			teamEditor.AddOrUpdate(Team);
			// Reload the Team information
			Team = DbContext.Entry(Team).Entity;
			
			UpdateTeammates();
			UpdateExcludedUsers();
		}
		Busy = false;
	}

	public void RemoveTeammate(User user) {
		if(Busy) return;
		Busy = true;
		Teammates? teammate = DbContext.Teammates.FirstOrDefault(x => x.UserId == user.Id);
		if(teammate is not null) {
			teammatesEditor.Remove(teammate);
			UpdateTeammates();
			UpdateExcludedUsers();
		}
		Busy = false;
	}

	protected void AddUser(User? user) {
		if(Busy) return;
		if(user is null || Users is null || Users.Contains(user)) return;
		Busy = true;
		teammatesEditor.Add(new() {
			TeamId = Team.Id,
			UserId = user.Id
		});
		selectedExcludedUser = null;
		UpdateTeammates();
		UpdateExcludedUsers();
		Busy = false;
	}

	~TeamEditor() {
		// Don't save changes when the page is closed
		teamEditor?.UndoChanges();
		teammatesEditor?.UndoChanges();
		teamEditor?.Dispose();
		teammatesEditor?.Dispose();
		teamEditor = null!;
		teammatesEditor = null!;
	}

}
