@inherits DataGrid<TItem>
@typeparam TItem where TItem : class, new()

<div class="tw-flex tw-my-2">
	@if(Grouping) {
		<RadzenCheckBox TValue=@bool @bind-Value=@GroupingEnabled/>
		<Paragraph Text="Enable grouping" Size=@TextSize.Base Class="tw-ml-2"/>
	}
</div>

<RadzenDataGrid @ref=@Grid TItem=@TItem Data=@Items AllowColumnReorder=@ReorderableColumns AllowColumnResize=@ResizableColumns AllowGrouping=@(Grouping && GroupingEnabled) AllowFiltering=@Filtering AllowSorting=@Sorting AllowPaging=@Paging PageSize=@PageSize EmptyText=@Translate("No records found.") EditMode=@EditMode RowDoubleClick=OnRowDoubleClick>
	<Columns>
		@ChildContent
	</Columns>
</RadzenDataGrid>

@if(CanModify) {
	<div class="tw-flex tw-my-2">
		@if(CanAdd) {
			<RadzenButton Style="margin-right: 4px;" Text=@Translate("Add new") Disabled=@Busy ButtonStyle=@ButtonStyle.Secondary Click=@OnAddClick/>
		}
		@if(CanDelete) {
			<RadzenButton Style="margin-right: 4px;" Text=@Translate("Delete") Disabled=@(Busy || EditingRow is null) ButtonStyle=@ButtonStyle.Secondary Click=@OnDeleteClick/>
		}
		@if(CanModify || CanAdd || CanDelete) {
			<RadzenButton Style="margin-right: 4px;" Text=@Translate("Save")  Disabled=@SavingDisabled ButtonStyle=@ButtonStyle.Secondary Click=@OnSaveClick/>
			<RadzenButton Text=@Translate("Cancel")  Disabled=@SavingDisabled ButtonStyle=@ButtonStyle.Secondary Click=@OnCancelClick/>
		}
	</div>
}

@code {
	[Parameter, Required, MemberNotNull]
	public DB DbContext { get; set; } = null!;
	[Parameter]
	public bool CanAdd { get; set; } = false;
	[Parameter]
	public bool CanModify { get; set; }
	[Parameter]
	public bool CanDelete { get; set; } = false;
	[Parameter]
	public DataGridEditMode EditMode { get; set; } = DataGridEditMode.Single;

	protected bool Busy { get; set; } = false;
	public bool SavingDisabled => Busy || !(createdItems.Any() || editedItems.Any() || removedItems.Any());

	private TItem? _editingRow;
	protected TItem? EditingRow {
		get => _editingRow; 
		set {
			if(value is null) {
				if(EditingRow is not null) {
					Grid.CancelEditRow(EditingRow);
				}
			}else {
				Grid.EditRow(value).Wait();
				if(!editedItems.Contains(value) && !createdItems.Contains(value)) {
					editedItems.Add(value);
				}
			}
			_editingRow = value;
		}
	}
	protected readonly List<TItem> createdItems = new();
	protected readonly List<TItem> editedItems = new();
	protected readonly List<TItem> removedItems = new();


	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
	}

	protected async Task OnAddClick(MouseEventArgs e) {
		if(Busy) return;
		Busy = true;
		TItem newItem = new();
		createdItems.Add(newItem);
		await Grid.InsertRow(newItem);
		EditingRow = newItem;
		Busy = false;
	}

	protected async Task OnDeleteClick(MouseEventArgs e) {
		if(Busy || EditingRow is null) return;
		Busy = true;
		
		if(createdItems.Contains(EditingRow)) {
			createdItems.Remove(EditingRow);
		}else if(!removedItems.Contains(EditingRow)) {
			if(editedItems.Contains(EditingRow)) {
				editedItems.Remove(EditingRow);
			}
			removedItems.Add(EditingRow);
			DbContext.TryDeleteItem(EditingRow);
			await DbContext.SaveChangesAsync();
		}
		await Grid.Reload();
		Busy = false;
	}


	protected async Task OnCancelClick(MouseEventArgs e) {
		if(Busy) return;
		Busy = true;
		createdItems.Clear();
		editedItems.Clear();
		
		removedItems.ForEach(x => DbContext.InsertItem(x));
		removedItems.Clear();
		await DbContext.SaveChangesAsync();

		await Grid.Reload();
		EditingRow = null;
		Busy = false;
	}

	protected async Task OnSaveClick(MouseEventArgs e) {
		if(Busy) return;
		Busy = true;
		EditingRow = null;

		createdItems.ForEach(x => {
			DbContext.InsertItem(x);
		});
		createdItems.Clear();
		editedItems.ForEach(x => DbContext.UpdateItem(x));
		editedItems.Clear();
		removedItems.Clear();
		await DbContext.SaveChangesAsync();
		await Grid.Reload();
		Busy = false;
	}

	protected async Task OnRowDoubleClick(DataGridRowMouseEventArgs<TItem> e) {
		if(Busy) return;
		Busy = true;
		if(EditingRow is not null) {
			await Grid.UpdateRow(EditingRow);
		}
		EditingRow = e.Data;
		Busy = false;
	}
}
