@inherits BaseComponent<DataGrid<TItem>>
@typeparam TItem where TItem : class, new()


<div class="tw-flex tw-my-2">
	@if(Grouping) {
		<InlineCheckBox @bind-Value=GroupingEnabled Text="Enable Grouping"/>
	}
	@CheckBoxes
</div>
<RadzenDataGrid AndOperatorText=@Translate("And") 
				OrOperatorText=@Translate("Or")
				ApplyFilterText=@Translate("Apply")
				DoesNotContainText=@Translate("Does not contain")
				ClearFilterText=@Translate("Clear")
				ContainsText=@Translate("Contains")
				EndsWithText=@Translate("Ends with")
				StartsWithText=@Translate("Starts with")
				FilterText=@Translate("Filter")
				EqualsText=@Translate("Equals")
				GreaterThanOrEqualsText=@Translate("Greater than or Equals")
				GreaterThanText=@Translate("Greater than")
				GroupPanelText=@Translate("TEST")
				LessThanOrEqualsText=@Translate("Less than or Equals")
				LessThanText=@Translate("Less than")
				NotEqualsText=@Translate("Not Equals")
				IsNullText=@Translate("Is Null")
				IsNotNullText=@Translate("Is not Null")
				@ref=@Grid 
				TItem=@TItem 
				Data=@Items 
				AllowColumnReorder=@ReorderableColumns 
				AllowColumnResize=@ResizableColumns 
				AllowGrouping=@(Grouping && GroupingEnabled) 
				AllowFiltering=@Filtering 
				AllowSorting=@Sorting 
				AllowPaging=@Paging 
				PageSize=@PageSize 
				EmptyText=@Translate("No records found.")>
	<Columns>
		@Columns
	</Columns>
</RadzenDataGrid>

@code {
	[MemberNotNull]
	protected RadzenDataGrid<TItem> Grid { get; set; } = null!;

	[Parameter]
	public RenderFragment Columns { get; set; } = default!;
	[Parameter]
	public RenderFragment CheckBoxes { get; set; } = default!;
	[Parameter, Required, MemberNotNull]
	public IEnumerable<TItem> Items { get; set; } = null!;
	[Parameter]
	public bool Filtering { get; set; } = true;
	[Parameter]
	public bool Sorting { get; set; } = true;
	[Parameter]
	public bool Grouping { get; set; } = true;
	[Parameter]
	public bool ResizableColumns { get; set; } = true;
	[Parameter]
	public bool ReorderableColumns { get; set; } = true;
	[Parameter]
	public bool Paging { get; set; } = true;
	[Parameter]
	public int PageSize { get; set; } = 20;

	protected bool GroupingEnabled { get; set; } = false;
}
