@inherits BaseComponent<NavMenu>

<!-- LIST OF AVAILABLE ICONS HERE: https://fonts.google.com/icons?selected=Material+Icons -->

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HalcyonFlowProject</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@if (!collapseNavMenu) {
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text=@Translate("General") Icon="home">
            <RadzenPanelMenuItem Text=@Translate("Home") Path=" " Icon="home"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text=@Translate("Counter") Path="counter" Icon="pan_tool_alt"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text=@Translate("Users") Icon="person">
            <RadzenPanelMenuItem Text=@Translate("Manage Roles") Path="manage-roles" Icon="add_moderator"/>
            <RadzenPanelMenuItem Text=@Translate("Manage Users") Path="manage-users" Icon="account_circle"/>
            <RadzenPanelMenuItem Text=@Translate("Manage Teams") Path="manage-teams" Icon="groups"/>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text=@Translate("Services") Icon="extension">
            <RadzenPanelMenuItem Text=@Translate("Converters") Path="services/converters" Icon="extension"/>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text=@Translate("Settings") Icon="build">
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
}

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }
}
