@inherits BaseComponent<InlineInput>

<div class="tw-grid tw-grid-cols-3">
	<div>
		<RadzenLabel Text=@Translate(Label) MouseEnter=@(x => ShowTooltip(x, Tooltip))/>
	</div>
	<div class="tw-col-span-2 tw-flex-col">
		<div>
			@ChildContent
		</div>
		<div>
			@if (Required) {
				<RadzenRequiredValidator Component=@Component Text=@Translate("Can't be empty")/>
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; } = null!;
	[Parameter]
	public string Tooltip { get; set; } = string.Empty;
	[Parameter]
	public string Label { get; set; } = string.Empty;
	[Parameter]
	public string Component { get; set; } = string.Empty;
	[Parameter]
	public bool Required { get; set; } = false;
}
